<header class="header-1 light-head">
  <div class="sticky">
    <div class="container">

      <!-- Logo -->
      <div class="logo"> <a href="/"><h3 style="color:white;margin-top:5px;">WatchMen</h3></a> </div>
      <nav class="navbar ownmenu">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#nav-open-btn"
            aria-expanded="false"><span class="icon-bar"><i
                class="fa fa-navicon"></i></span> </button>
        </div>

        <!-- NAV -->
        <div class="collapse navbar-collapse" id="nav-open-btn">
          <ul class="nav">
            
            <li class="dropdown"> <a href="#." class="dropdown-toggle" data-toggle="dropdown">CATEGORY</a>
              <ul class="dropdown-menu">
                {{#each category}}
                <li> <a href="/categoryWise/{{this._id}}">{{this.CategoryName}}</a> </li>
                {{/each}}

              </ul>
            </li>
             <li class="dropdown"> <a href="#." class="dropdown-toggle" data-toggle="dropdown">BRANDS</a>
              <ul class="dropdown-menu">
                {{#each brands}}
                <li> <a href="/brandWise/{{this._id}}">{{this.BrandName}}</a> </li>
                {{/each}}

              </ul>
            </li>
            {{!-- <li> <a href="/">About </a> </li> --}}

           
          
          </ul>
        </div>

        <!-- Nav Right -->
        <div class="nav-right">
          <ul class="navbar-right">

            <!-- USER INFO -->
            <li class="dropdown user-acc"> <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"><i
                  class="icon-user"></i> </a>
              <ul class="dropdown-menu">
                <li>
                  {{#if loggedUser}}
                  <h6>HELLO! {{loggedUser.FirstName}}</h6>
                  {{else}}
                  <h6>Account</h6>
                  {{/if}}
                </li>
                {{#if loggedUser}}

                <li><a href="/usercart">MY CART</a></li>
                <li><a href="/userProfile">ACCOUNT INFO</a></li>
                {{/if}}
                {{#if loggedUser}}
                <li><a href="/userlogout">LOG OUT</a></li>
                {{else}}
                <li><a href="/userlogin">LOG IN</a></li>
                {{/if}}

              </ul>
            </li>

            <!-- USER BASKET -->

            {{#if loggedUser}}
            <li class="dropdown user-basket"> <a href="/usercart"><i class="icon-basket-loaded"></i><span
                  class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger"
                  id="cart-count">
                  {{cartCount}}

                </span> </a>
            </li>
            {{/if}}

         
          </ul>
        </div>
      </nav>
    </div>
  </div>
</header>