<!-- LOADER -->
<div id="loader">
  <div class="position-center-center">
    <div class="ldr"></div>
  </div>
</div>
<!--======= HOME MAIN SLIDER =========-->
<section class="home-slider">

  <!-- SLIDE Start -->
  <div class="tp-banner-container">
    <div class="tp-banner">
      <ul>

        <!-- SLIDE  -->
        <li data-transition="random" data-slotamount="7" data-masterspeed="300" data-saveperformance="off">
          <!-- MAIN IMAGE -->
          <img src="user/images/bg2.png" alt="slider" data-bgposition="center center" data-bgfit="cover"
            data-bgrepeat="no-repeat">
          <!-- LAYERS -->

          <!-- LAYER NR. 1 -->
          <div class="tp-caption font-playfair sfb tp-resizeme" data-x="center" data-hoffset="0" data-y="center"
            data-voffset="-150" data-speed="800" data-start="500" data-easing="Power3.easeInOut" data-splitin="none"
            data-splitout="none" data-elementdelay="0.1" data-endelementdelay="0.1" data-endspeed="300"
            style="z-index: 7; font-size:20px; color:#fff; max-width: auto; max-height: auto; white-space: nowrap;">The
            Latest Product from WatchMen</div>

          <!-- LAYER NR. 2 -->
          {{!-- <div class="tp-caption sfr font-regular tp-resizeme letter-space-4" data-x="center" data-hoffset="0"
            data-y="center" data-voffset="-50" data-speed="800" data-start="800" data-easing="Power3.easeInOut"
            data-splitin="chars" data-splitout="none" data-elementdelay="0.07" data-endelementdelay="0.1"
            data-endspeed="300"
            style="z-index: 6; font-size:78px; color:#fff; text-transform:uppercase; white-space: nowrap;">look
            beautiful </div> --}}

          <!-- LAYER NR. 2 -->
          <div class="tp-caption sfr font-extra-bold tp-resizeme letter-space-4" data-x="center" data-hoffset="0"
            data-y="center" data-voffset="60" data-speed="800" data-start="1300" data-easing="Power3.easeInOut"
            data-splitin="chars" data-splitout="none" data-elementdelay="0.07" data-endelementdelay="0.1"
            data-endspeed="300"
            style="z-index: 6; font-size:140px; color:#fff; text-transform:uppercase; white-space: nowrap;">Buy The Best
          </div>

          <!-- LAYER NR. 4 -->
          <div class="tp-caption sfb font-extra-bold tp-resizeme" data-x="center" data-hoffset="120" data-y="center"
            data-voffset="200" data-speed="800" data-start="2200" data-easing="Power3.easeInOut" data-splitin="none"
            data-splitout="none" data-elementdelay="0.07" data-endelementdelay="0.1" data-endspeed="300"
            style="z-index: 6; font-size:60px; color:#fff; text-transform:uppercase; white-space: nowrap;"> <small
              class="font-regular"></small> </div>

          <!-- LAYER NR. 4 -->
          <div class="tp-caption lfb tp-scrollbelowslider tp-resizeme" data-x="center" data-hoffset="-120"
            data-y="center" data-voffset="200" data-speed="800" data-start="2200" data-easing="Power3.easeInOut"
            data-elementdelay="0.1" data-endelementdelay="0.1" data-endspeed="300" data-scrolloffset="0"
            style="z-index: 8;"><a href="/viewproducts" class="btn">SHOP NOW</a> </div>
        </li>

        <!-- SLIDE  -->
        <li data-transition="random" data-slotamount="7" data-masterspeed="300" data-saveperformance="off">
          <!-- MAIN IMAGE -->
          <img src="user/images/bg1.png" alt="slider" data-bgposition="center center" data-bgfit="cover"
            data-bgrepeat="no-repeat">
          <!-- LAYERS -->

          <!-- LAYER NR. 1 -->
          <div class="tp-caption font-playfair sfb tp-resizeme" data-x="left" data-hoffset="0" data-y="center"
            data-voffset="-200" data-speed="800" data-start="500" data-easing="Power3.easeInOut" data-splitin="none"
            data-splitout="none" data-elementdelay="0.1" data-endelementdelay="0.1" data-endspeed="300"
            style="z-index: 7; font-size:20px; color:#fff; max-width: auto; max-height: auto; white-space: nowrap;">
            The Latest Products from WatchMen</div>

          <!-- LAYER NR. 2 -->
          {{!-- <div class="tp-caption sfl font-extra-bold tp-resizeme" data-x="left" data-hoffset="0" data-y="center"
            data-voffset="-120" data-speed="800" data-start="800" data-easing="Power3.easeInOut" data-splitin="none"
            data-splitout="none" data-elementdelay="0.07" data-endelementdelay="0.1" data-endspeed="300"
            style="z-index: 6; font-size:80px; color:#ffffff; text-transform:uppercase; white-space: nowrap;"><small
              class="font-regular">starting from</small>299 </div> --}}

          <!-- LAYER NR. 2 -->
          <div class="tp-caption sfr font-extra-bold tp-resizeme" data-x="left" data-hoffset="0" data-y="center"
            data-voffset="0" data-speed="800" data-start="800" data-easing="Power3.easeInOut" data-splitin="chars"
            data-splitout="none" data-elementdelay="0.07" data-endelementdelay="0.1" data-endspeed="300"
            style="z-index: 6; font-size:120px; color:#fff; text-transform:uppercase; white-space: nowrap;">featured
          </div>

          <!-- LAYER NR. 2 -->
          <div class="tp-caption sfr font-extra-bold tp-resizeme" data-x="left" data-hoffset="0" data-y="center"
            data-voffset="110" data-speed="800" data-start="1300" data-easing="Power3.easeInOut" data-splitin="chars"
            data-splitout="none" data-elementdelay="0.07" data-endelementdelay="0.1" data-endspeed="300"
            style="z-index: 6; font-size:120px; color:#fff; text-transform:uppercase; white-space: nowrap;">Watches
          </div>

          <!-- LAYER NR. 4 -->
          <div class="tp-caption lfb tp-resizeme" data-x="left" data-hoffset="0" data-y="center" data-voffset="240"
            data-speed="800" data-start="2200" data-easing="Power3.easeInOut" data-elementdelay="0.1"
            data-endelementdelay="0.1" data-endspeed="300" data-scrolloffset="0" style="z-index: 8;"><a
              href="/viewproducts" class="btn">SHOP NOW</a> </div>
        </li>
      </ul>
    </div>
  </div>
</section>


<!-- Content -->
<div id="content">

  <!-- Top Shop Feature  -->
  <div class="top-shop-feature" style="background-color:#413837 ;">
    <div class="container">
      <div class="row">

        <!-- Item 1  -->
        {{#each categories}}
        <div class="col-md-6">
          <div class="text-right" style="background-color:rgb(228, 222, 222) ;"> <img
              src="/images/categories/{{this.image.[0]}}" alt="" style="width: 487px;height: 383px;">
            <article> <span class="price"><small></small></span>
              <h4>{{this.CategoryName}}</h4>
              <p></p>
              <a href="/categoryWise/{{this._id}}" class="btn btn-small btn-round">SHOP NOW</a>
            </article>
          </div>
        </div>
        {{/each}}
       
      </div>
    </div>
  </div>

  <!-- Popular Products -->
  <section class="padding-top-150 padding-bottom-150">
    <div class="container">

      <!-- Main Heading -->
      <div class="heading text-center">
        <h4>products</h4>
      </div>

      <!-- Popular Item Slide -->
      <div class="papular-block block-slide">
        {{#each products}}
        <!-- Item -->
        <div class="item">
          <!-- Item img -->
          <div class="item-img"> <img class="img-1" src="images/products/{{this.image.[0]}}" alt=""
              style="width:270px; height:300px ;"> <img class="img-2" src="images/products/{{this.image.[1]}}" alt=""
              style="width:270px; height:300px ;">
            <!-- Overlay -->

          </div>
          <!-- Item Name -->
          <div class="item-name"> <a href="/productdetails/{{this._id}}">{{this.WatchName}}</a>
            <p>{{this.Brand}}</p>
          </div>
          <!-- Price -->

          {{#if offer}}
          <span class="price"><del>₹{{this.Price}}</del>₹{{this.discountPrice}} </span>

          {{else}}

          <span class="price">₹{{this.Price}}</span>

          {{/if}}
        </div>




        {{/each}}

      </div>
    </div>
  </section>



  <!-- About -->

</div>



</div>
